.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.team-index-logo {
  width: 100%;
  height: auto;
  background: black;
  border: 5px solid white;
  /* border-top: 5px solid white;
  border-right: 5px solid black;
  border-left: 5px solid black; */
}

.team-index-logo:hover {
  /* width: 400px;
  z-index: 1; */
  transform: scale(1.10);
}

/* .team-index-name {
  width: 250px;
  background: white;
  margin-right: auto;
  margin-left: auto;
} */
.team-profile-name {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  width: 90%;
}

.team-profile-nav {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.team-profile-logo2 {
  margin: 20px;
}

.team-info-overview {
  margin-left: 40px;
  width: 300px;
  height: 100%;
  border: 1px solid white;
  border-radius: 5px;
  position: relative;
  margin-right: 20px;
}


.team-info-overview h4, h1, p {
  color: white;
  margin: 15px;
}

.team-profile-logo {
  width: auto;
  height: 250px;
  background: white;
  border: 1px solid red;
  border-radius: 5px;
  margin-left: 20px;
}

.team-profile-logo p, h4 {
  margin: 15px;
  color: black;
}

.team-profile-logo h1 {
  margin: 20px;
  color: black;
  text-decoration: underline;
}

.team-profile-logo2 {
  width: auto;
  height: 100px;
  background: white;
  border: 1px solid red;
  border-radius: 5px;
  margin-left: 20px;
}

.team-info {
  display: flex;
  flex-direction: row;
}

.player-roster-headshot {
  width: 100px;
  height: auto;
}

.player-profile-headshot {
  width: 250px;
  height: auto;
   width: auto;
  height: 250px;
  background:black;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 20px;
}

.team-index-ul {
  display: flex;
  overflow: scroll;
  border: 5px solid black;
  -ms-overflow-style: none;
  background: black;
  color: white;
  padding: 20px;
  margin: 20px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.team-index-ul::-webkit-scrollbar {
  display: none;
}

.team-index-name {
  color: white;
  text-align: center;
  background: black;
  width: 250px;
}

.team-index-link {
  text-decoration: none;
}

.team-index-item {
  width: 300px;
  margin: 20px;
  margin-bottom: 0;
}

.home-body {
  background: black;
  color: white;
  height: 100vh;
}

.home-heading {
  padding: 20px;
}


.team-index-item:hover {
}


.team-player-index-ul {
  display: flex;
  overflow: scroll;
  /* border: 5px solid white; */
  -ms-overflow-style: none;
  /* background: black;
  color: white; */
  padding: 20px;
  margin: 20px;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  filter: brightness(125%);
}

.team-player-index-ul::-webkit-scrollbar {
  display: none;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.dd-arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dd-arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.team-player-index-item {
  width: 300px;
  margin: 20px;
  margin-bottom: 0;
}

.team-player-roster-headshot {
  width: 150px;
  height: 109px;
}

.player-player-index-ul {
  display: flex;
  overflow: scroll;
  border: 5px solid black;
  -ms-overflow-style: none;
  /* background: black;
  color: white; */
  padding: 20px;
  margin: 20px;
  /* border-bottom: 1px solid white;
  border-top: 1px solid white; */
}

.team-body {
  background: black;
  color: white;
}

.team-stats-content {
  display: flex;
  overflow: scroll;
  border: 5px solid black;
  -ms-overflow-style: none;
  background: gray;
  color: white;
  padding: 20px;
  margin: 20px;
  border-bottom: 5px solid red;
  border-top: 5px solid red;
}

.stat-index-heading {
  text-align: center;
}

.team-stat-item-pie {
  align-content: center;
}

.team-stat-item-pie > p {
  text-align: center;
}

.opp-comp-stats {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

.opp-comp-stats > p {
  text-align: center;
}

.team-stat-item-pie {
  margin: 10px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

.opp-visuals-dropdown > h4 {
  text-align: center;
}

.opp-comparison-dropdown > h4 {
  text-align: center;
}

/* .stat-icon {
  border: 1px solid white;
} */

.stat-icon-box {
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: 100%;
  padding: 10px;
}

.stat-icon-box:hover {
  /* width: 400px;
  z-index: 1; */
  transform: scale(1.10);
}

.stat-icon {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.stat-icon-outer-box {
  width: 200px;
  padding: 20px;
}

.team-stat-visual-dropdown {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  /* margin-top: 20px; */
  border-radius: 5px;
}
/* 
.opp-visuals-dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
} */

.team-stat-item-dropdown {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.stat-icon-outer-box > h4 {
  text-align: center;
  margin-bottom: 0;
}

.opp-visuals-dropdown > h4 {
  text-align: center;
  margin-bottom: 0;
}

.stat-dropdown-outer-box > h4 {
  text-align: center;
  margin-bottom: 0;
}

.team-stat-item-pie:hover {
  transform: scale(1.15); 
}

.opp-comp-stats:hover {
  transform: scale(1.15); 
}

.opp-stat-icon-outer-box {
  width: 100px;
  height: auto;
  padding: 5px;
}

.opp-stat-icon-outer-box .stat-index-heading {
  font-size: 10px;
}

.opp-stat-icon-outer-box > .stat-icon-box {
  width: 80%;
  padding: 10px;
  border: none;
}

.opp-team-stats-content {
  display: flex;
  overflow: scroll;
  border: 5px solid black;
  -ms-overflow-style: none;
  background: gray;
  color: white;
  padding: 20px;
  margin: 20px;
  border-bottom: 5px solid red;
  border-top: 5px solid red;
  padding-bottom: 0px;
}

.team-roster > h1 {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.team-stats > h1 {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.opp-comp-heading {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.team-roster-content h2 {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.team-roster-content {
  border-top: 1px solid white;
  margin: 20px;
}

.team-stats-content-outer {
  border-top: 1px solid white;
  margin: 20px;
}

.team-stats-content-outer h2 {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.team-ind-stat-item {
  display: flex;
  align-items: space-between;
  align-content: space-between;
  flex-direction: row;
  border-bottom: 0.1px solid lightgray;
}

.team-ind-stat-item-name {
  width: 50%;
  margin-left: 10px;
}

.team-ind-stat-item-val {
  width: 50%;
  margin-right: 10px;
  text-align: center;
  font-weight: 900;
  margin: auto;
}

.team-pic {
  width: 100px;
  height: auto;
}

.college-team-pic {
  width: 100px;
  height: auto;
}

/* .split-row {
  display: flex;
  flex-direction: row;
} */

.split-labels {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  width: 600px;
  overflow-x: auto;
}

.split-labels li {
  margin: auto;
  width: 100px;
  /* border: 1px solid black; */
  text-align: center;
}

.player-stats-inner {
  display: flex;
  border: 1px solid white;
}

.player-stats-inner > h2 {
  margin-left: 10px;
  width: 250px;
}

.player-splits {
  display: flex;
}

.player-stats-inner > p {
  margin-left: 10px;
  width: 250px;
}

.split-row {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.player-stats {
  width: 950px;
  margin-left: 20px;
  color: white;
}

.player-stats-inner {
    border: 1px solid white;
    padding: 10px;
}

.split-labels {
    width: 80%;
    overflow: hidden;
}
.split-labels li {
  display: inline;
}

.player-dd-header > .dd-arrow-down, .dd-arrow-up {
  border: solid white;
  border-width: 0 3px 3px 0;
}

.player-dd > .dd-arrow-up {
  border: solid white;
  border-width: 0 3px 3px 0;
  margin-left: 40px;
}

/* .dd-arrow-up-2 {
  border: solid red;
  border-width: 0 3px 3px 0;
}

.dd-arrow-down-2 {
  border: solid red;
  border-width: 0 3px 3px 0;
  margin-left: 40px;
} */

.player-profile-dd-headings-2 > .dd-arrow-down {
  color:white;
}

.player-profile-dd-headings-3 > .dd-arrow-down {
  color: white;
}

.player-stats-div {
  color: white;
}

.player-profile-name{ 
  color: white;
}

.player-profile {
  background: black;
  color: white;
}

.player-profile-dd-headings {
  margin-top: 25px;
  margin-bottom: 25px;
}

.player-visual-nest-1 {

}

.player-profile-dd-headings-2 {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 60px;
  border: 1px solid white;
  width: 870px;
}

.player-profile-dd-headings-2 p {
  margin-left: 10px
}

.player-profile-dd-headings-3 {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 100px;
  border: 1px solid white;
  width: 790px;
}

.player-profile-dd-headings-3 p {
  margin-left: 10px
}

.player-inner-nest {
  margin-left: 120px;
}

.player-dd-special {
  margin-left: 60px;
}

.player-dd-header-special {
  margin-left: 40px;
}

.player-stat-item-line {
  background: white;
  margin: 10px;
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
  width: 600px;
}

.player-stat-item-bar {
  margin: 10px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
}

#myChart2 {
  width: 100%;
  height: auto;
}

.player-dd-header-split {
  margin-left: 60px;
}

.player-stats-2 {
  width: 870px;
  margin-left: 40px;
}

.player-roster-header {
  /* padding: 20px; */
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.app-background {
  background: black;
}

.loading {
  color: white;
  width: 250px;
  height: auto;
  margin: auto;
  padding: auto;
  /* padding-top: 20%; */
  margin-top: 20%;
  border: 1px solid white;
  background: red;
}

.splash-container { 
  width: 100vw;
  height: 100vh;
  min-width: 850px;
  min-height: 600px;
  background-image: url(./splash.jpg);
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.splash-heading {
 
  margin: auto;
  margin-top: 10%;
  width: 500px;
  padding: auto;
  /* background: white; */
  border: 2px solid black;
  margin-bottom: 5%;
  background-color: rgba(255, 0, 0, 0.4);
  font-family: 'Cinzel', serif;
}

.splash-heading h1 {
  text-align: center;
  font-weight: 900;
  font-size: 56px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  
}

.splash-heading h2 {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: white;
  margin-top: 0px;
}

.splash-btn {
  margin: auto;
  color: white;
  border: 2px solid black;
  text-decoration: none;
  border-radius: 5px;
  background: white;
  margin-top: 0px;
  font-family: 'Cinzel', serif;
}

.splash-btn a {
  text-decoration: none;
  color: red;
  /* -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  /* -webkit-text-stroke-width: 2px; */
  /* -webkit-text-stroke-color: red; */
}

.splash-btn h1 {
  padding: 10px;
  margin: 10px;
  color: red;
}

.player-info-overview {
  margin-left: 20px;
  width: 250px;
  height: 250px;
  border: 1px solid white;
  border-radius: 5px;
  position: relative;
}

.player-stats-summary {
  overflow: scroll;
  height: 180px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.player-info-overview h1 {
  margin-bottom: 0px;
  width: 250px;
}

.player-ss-value {
  font-weight: 900;
}

.player-stat-visual-container {
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  margin: 20px;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid red; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 20%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}